#homeMain {
    width: 100vw;
    height: 100vh;
    margin-left: 10px;
}

#apresentacao, #passagens {
    font-family: Inter, serif;
    color: white;
}

#apresentacao {
    padding: 0 20px 15% 20px;
}

#apresentacao h1 {
    width: 400px;
    font-size: 36px;
    margin: 10px 0px
}

#apresentacao > h1 > span {
    color: #183CFA;
}

#apresentacao p {
    width: 400px;
    color: #ffffff7e;
    margin-bottom: 10px;
}