@charset "UTF-8";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    font-family: Inter;
    font-size: 18px;
    margin-bottom: 20%;
}

#logo img {
    width: 150px;
    margin-left: 10px;
}

#links a {
    text-decoration: none;
    margin-right: 12px;
    color: white;
    transition: 0.2s;
}

#links a:hover {
    border: 1px solid #183CFA;
    border-radius: 5px;
    padding: 12px;
    transition: 0.2s;
}