@charset "UTF-8";

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    font-family: Inter;
    font-size: 18px;
    margin-bottom: 20%;
}

#logo img {
    width: 150px;
    margin-left: 10px;
}

#links a {
    text-decoration: none;
    margin-right: 12px;
    color: white;
    transition: 0.2s;
}

#links a:hover {
    border: 1px solid #183CFA;
    border-radius: 5px;
    padding: 12px;
    transition: 0.2s;
}


@media screen and (max-width: 500px) {

    header {
        justify-content: left;
        align-items: baseline;
        flex-direction: column;
        margin-top: 30px;
    }

    #links {
        margin-top: 20px;
    }

    #links a:hover {
        padding: 3px;
    }
    
}

@media screen and (max-width: 500px) {
    header {
        margin-bottom: 250px;
    }
}



@media screen and (min-width: 501px) and (max-width: 752px) {
    header {
        flex-direction: column;
        margin-bottom: 0;
    }
    main {
        margin-top: 0;
    }
}